bike-distributor-refactor/BikeDistributor.Test/Service References/ServiceReferenceOrder/ServiceOrderWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOrderWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BikeDistributorWCF/ServiceOrderWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BikeDistributorWCF/ServiceOrderWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BikeDistributorWCF/ServiceOrderWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOrderWCF_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IServiceOrderWCF_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrderWCF_GetReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceipt" />
  </wsdl:message>
  <wsdl:message name="IServiceOrderWCF_GetReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOrderWCF_GenerateOrderWithRecept_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateOrderWithRecept" />
  </wsdl:message>
  <wsdl:message name="IServiceOrderWCF_GenerateOrderWithRecept_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateOrderWithReceptResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOrderWCF">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrderWCF/CreateOrder" message="tns:IServiceOrderWCF_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrderWCF/CreateOrderResponse" message="tns:IServiceOrderWCF_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrderWCF/GetReceipt" message="tns:IServiceOrderWCF_GetReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrderWCF/GetReceiptResponse" message="tns:IServiceOrderWCF_GetReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateOrderWithRecept">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOrderWCF/GenerateOrderWithRecept" message="tns:IServiceOrderWCF_GenerateOrderWithRecept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOrderWCF/GenerateOrderWithReceptResponse" message="tns:IServiceOrderWCF_GenerateOrderWithRecept_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOrderWCF" type="tns:IServiceOrderWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOrderWCF/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <soap:operation soapAction="http://tempuri.org/IServiceOrderWCF/GetReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateOrderWithRecept">
      <soap:operation soapAction="http://tempuri.org/IServiceOrderWCF/GenerateOrderWithRecept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOrderWCF">
    <wsdl:port name="BasicHttpBinding_IServiceOrderWCF" binding="tns:BasicHttpBinding_IServiceOrderWCF">
      <soap:address location="http://localhost/BikeDistributorWCF/ServiceOrderWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>